<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dell.iotmqttreporter">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fuse"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MsgPreferencesActivity"
            android:label="@string/title_activity_msg_preferences"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".service.CollectionService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.CommandService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".service.CollectionUpdateSendor"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".service.CommandResponseSendor"
            android:enabled="true"
            android:exported="true"></receiver>
    </application>

</manifest>
